<!DOCTYPE html>
<html xml:lang="en">

<head>
  <title>Cubey 1.0 Live Feed</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
        $("img").on("click", function(event) {
            var x = event.pageX - this.offsetLeft;
            var y = event.pageY - this.offsetTop;
            console.log('alt',"X Coordinate: " + x + " Y Coordinate: " + y);
        });
    });
</script>
</head>

<body style="background:white">
  <img alt="cubey logo" src="/static/cubey.svg" style="width:300px; display: block; margin-left: auto; margin-right: auto;" />
  <hr />
  <img alt="live feed" style="display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('video_feed') }}" />
</body>

</html>